body {
    background-image: url(backg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fec817;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   
}

.TimeContainer h1{
    color: azure;
    text-align: center;
    border-radius: 10px;
    font-size:100px;
     
}